@import '../../css/style.css';

.rtc-header {
  display: none;
}

.rtc-header.open {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0 2rem 0;
}

.rtc-header-h1 {
  cursor: default;
  font-size: 1.25rem;
}

.rtc-header-games {
  display: flex;
  gap: 0.75rem;
}

.rtc-header-games-button {
  background-color: #ffffff;
  border: 0.3rem solid #cc0000;
  border-radius: 0.75rem;
  color: #e60023;
  cursor: pointer;
  font-family: inherit;
  font-size: 0.75rem;
  font-weight: 700;
  padding: 0.5rem;
  width: 5rem;
}

.rtc-header-games-button:hover {
  background-color: #cc0000;
  color: #ffffff;
}

@media screen and (min-width: 300px) {
  .rtc-header.open {
    padding-top: 2rem;
  }

  .rtc-header-games-button {
    width: 5.5rem;
  }
}

@media screen and (min-width: 360px) {
  .rtc-header.open {
    gap: 2rem;
  }

  .rtc-header-games {
    gap: 1.25rem;
  }
}

@media screen and (min-width: 400px) {
  .rtc-header-h1 {
    font-size: 1.5rem;
  }

  .rtc-header-games-button {
    font-size: 0.8rem;
    width: 6.5rem;
  }
}

@media screen and (min-width: 500px) {
  .rtc-header-games {
    gap: 2rem;
  }

  .rtc-header-games-button {
    width: 7.5rem;
  }
}

@media screen and (min-width: 768px) {
  .rtc-header.open {
    flex-direction: row;
    width: 100%;
  }

  .rtc-header-h1 {
    text-align: center;
    width: inherit;
  }
}

@media screen and (min-width: 900px) {
  .rtc-header.open {
    gap: 4rem;
  }

  .rtc-header-games {
    padding-right: 4rem;
  }
}

@media screen and (min-width: 1000px) {
  .rtc-header.open {
    gap: 8rem;
  }
}

@media screen and (min-width: 1100px) {
  .rtc-header.open {
    gap: 10rem;
  }
}

@media screen and (min-width: 1200px) {
  .rtc-header.open {
    gap: 12rem;
  }
}

@media screen and (min-width: 1440px) {
  .rtc-header.open {
    gap: 16rem;
  }

  .rtc-header-games {
    padding-right: 8rem;
  }
}

@media screen and (min-width: 2560px) {
  .rtc-header.open {
    gap: 64rem;
  }
}
