@import '../../css/style.css';

.rtc-checkers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.rtc-checkers-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.rtc-checkers--board {
  border: 0.15rem solid #77887e;
  display: flex;
  flex-direction: column;
  height: 22rem;
  width: 22rem;
}

.rtc-checkers--board-row {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  height: 100%;
}

.rtc-checkers--board-box {
  border: 0.15rem solid #77887e;
}

.color1-box {
  background-color: #f0dab7;
}

.color2-box {
  background-color: #a98f70;
}

.rtc-checkers--board-black_checker {
  background-color: #000000;
  border-radius: 50%;
  border: 0.4rem double #45474a;
  height: 90%;
  width: 90%;
}

.rtc-checkers--board-red_checker {
  background-color: red;
  border-radius: 50%;
  border: 0.4rem double #000000;
  height: 90%;
  width: 90%;
}
