@import '../../css/style.css';

.rtc-checkers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.rtc-checkers-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.rtc-checkers--board {
  border: 0.15rem solid #77887e;
  display: flex;
  flex-direction: column;
  height: 22rem;
  width: 22rem;
}

.rtc-checkers--board-row {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  height: 100%;
}

.rtc-checkers--board-box {
  border: 0.15rem solid #77887e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color1-box {
  background-color: #f0dab7;
}

.color2-box {
  background-color: #a98f70;
}

.rtc-checkers--board-checker {
  border-radius: 50%;
  cursor: pointer;
  height: 90%;
  width: 90%;
}

.dark_checker {
  background-color: #000000;
  border: 0.4rem double #45474a;
}

.light_checker {
  background-color: red;
  border: 0.4rem double #000000;
}
