@import '../../css/style.css';

.rtc-memory {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

.rtc-memory-description {
  font-size: 1rem;
}

.rtc-memory--points {
  font-size: 1.1rem;
}

.rtc-memory--points {
  display: flex;
  flex-direction: column;
}

.rtc-memory-game {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.rtc-memory--board {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(4, 2.75rem);
  grid-template-rows: repeat(4, 4rem);
}

.rtc-memory--board-card {
  display: flex;
  align-items: center;
  background-color: #ac0101;
  border-radius: 0.5rem;
  cursor: pointer;
  justify-content: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.rtc-memory--board-card:hover {
  background-color: #ff5555;
}

.rtc-memory--board-card-img {
  display: flex;
  visibility: hidden;
  user-select: none;
  width: 2rem;
}

.rtc-memory--board-card.flipped {
  background-color: #ffffff;
  transform: rotateY(180deg);
}

.rtc-memory--board-card.flipped > .rtc-memory--board-card-img {
  visibility: visible;
}

@media screen and (min-width: 300px) {
  .rtc-memory-game {
    gap: 1.5rem;
  }
}

@media screen and (min-width: 360px) {
  .rtc-memory-game {
    gap: 2rem;
  }

  .rtc-memory--board {
    grid-template-columns: repeat(4, 3rem);
    grid-template-rows: repeat(4, 4.25rem);
  }
}

@media screen and (min-width: 400px) {
  .rtc-memory-game {
    gap: 3rem;
  }

  .rtc-memory-description {
    font-size: 1.15rem;
  }
}

@media screen and (min-width: 460px) {
  .rtc-memory-game {
    gap: 3.5rem;
  }

  .rtc-memory--points {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 540px) {
  .rtc-memory-game {
    gap: 4.5rem;
  }

  .rtc-memory--points {
    font-size: 1.5rem;
  }

  .rtc-memory--board {
    grid-gap: 0.6rem;
  }
}

@media screen and (min-width: 600px) {
  .rtc-memory-game {
    gap: 5.25rem;
  }

  .rtc-memory--board {
    grid-template-columns: repeat(4, 3.25rem);
    grid-template-rows: repeat(4, 4.25rem);
  }
}

@media screen and (min-width: 700px) {
  .rtc-memory-game {
    gap: 7rem;
  }

  .rtc-memory--points {
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 768px) {
  .rtc-memory {
    gap: 2rem;
    padding-bottom: 4rem;
  }

  .rtc-memory-game {
    gap: 7.5rem;
  }

  .rtc-memory-description {
    font-size: 1.25rem;
  }

  .rtc-memory--board {
    grid-gap: 0.75rem;
    grid-template-columns: repeat(4, 4rem);
    grid-template-rows: repeat(4, 5.75rem);
  }
}

@media screen and (min-width: 900px) {
  .rtc-memory {
    padding-top: 1rem;
  }

  .rtc-memory-game {
    gap: 8.75rem;
  }

  .rtc-memory--points {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1000px) {
  .rtc-memory-game {
    gap: 10rem;
  }

  .rtc-memory--board {
    grid-gap: 0.9rem;
  }
}

@media screen and (min-width: 1050px) {
  .rtc-memory-game {
    gap: 12rem;
  }
}
