@import '../../../css/style.css';

/* TO-DO: Refactor media queries for every viewport width */

.rtc-memory--board-card {
  display: flex;
  align-items: center;
  background-color: #ac0101;
  border-radius: 0.5rem;
  cursor: pointer;
  justify-content: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.rtc-memory--board-card:hover {
  background-color: #ff5555;
}

.rtc-memory--board-card-img {
  display: flex;
  visibility: hidden;
  user-select: none;
  width: 2rem;
}

.rtc-memory--board-card.flipped {
  background-color: #ffffff;
  transform: rotateY(180deg);
}

.rtc-memory--board-card.flipped > .rtc-memory--board-card-img {
  visibility: visible;
}
