@import '../../../css/style.css';

.rtc-memory--board-card {
  display: flex;
  align-items: center;
  background-color: #ac0101;
  border-radius: 0.5rem;
  cursor: pointer;
  justify-content: center;
}

.rtc-memory--board-card:hover {
  background-color: #ff5555;
}

.rtc-memory--board-card-img {
  /*display: none;*/
  width: 2rem;
}

.selected-card {
  background-color: #ffffff;
  display: block;
}
