@import '../../css/style.css';

.rtc-welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 3rem 0;
}

.rtc-welcome-h1 {
  font-size: 1.5rem;
}

.rtc-welcome-games {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.rtc-welcome-games-button {
  background-color: #ffffff;
  border: 0.3rem solid #cc0000;
  border-radius: 0.75rem;
  color: #e60023;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  padding: 1.25rem 2rem 1.25rem 2rem;
}

.rtc-welcome-games-button:hover {
  background-color: #cc0000;
  color: #ffffff;
}

@media screen and (min-width: 400px) {
  .rtc-welcome-h1 {
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 540px) {
  .rtc-welcome {
    gap: 4rem;
    padding: 4rem 0;
  }
}

@media screen and (min-width: 900px) {
  .rtc-welcome-h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1400px) {
  .rtc-welcome {
    gap: 8rem;
  }

  .rtc-welcome-h1 {
    font-size: 2.5rem;
  }

  .rtc-welcome-games {
    gap: 3rem;
  }

  .rtc-welcome-games-button {
    font-size: 1.25rem;
    padding: 1.5rem 3rem 1.5rem 3rem;
  }
}

@media screen and (min-height: 900px) {
  .rtc-welcome {
    padding: 12rem 0 4rem 0;
  }
}

@media screen and (min-height: 1000px) {
  .rtc-welcome {
    padding-top: 16rem;
  }
}

@media screen and (min-height: 1100px) {
  .rtc-welcome {
    padding-top: 20rem;
  }
}
